<!DOCTYPE html>
<html>
<body>
  <div class="container">
    <section id="content">
  
        <h1>LOGIN</h1>
        <div>
          <input type="text" placeholder="USUARIO" required="" id="username" />
        </div>
        <div>
          <input type="password" placeholder="CONTRASEÑA" required="" id="password" />
        </div>
        <div>
          <input type="submit" value="INGRESAR" />
        </div>
  
      
      
      <form action="">
        <h1>RECUPERAR CONTRASEÑA</h1>
        <div>
          <input type="text" placeholder="USUARIO" required="" id="u1" />
        </div>
        <div>
          <input type="password" placeholder="CONTRASEÑA" required="" id="p1" />
        </div>
        <div>
          <input type="submit" value="RECUPERAR" />
        </div>
      
    
    
    
    <section id="content">
         <form action="">
        <h1>REGISTRARCE</h1>
        <div>
          <input type="text" placeholder="NOMBRE DE USUARIO" required="" id="nombre1" />
        </div>
        <div>
          <input type="text" placeholder="APELLIDO" required="" id="apellido1" />
        </div>
      <div>
          <input type="text" placeholder="USUARIO" required="" id="usuario1" />
        </div>
      
        <div>
          <div>
          <input type="password" placeholder="CONTRASEÑA" required="" id="contraseña1" />
        </div>
          
          <div>
          <input type="password" placeholder="CONFIRMAR CONTRASEÑA" required="" id="contraseña2" />
        </div>
          
          <input type="submit" value="REGISTRARCE" />
        </div>
    
    
    
    
   
    
    
  </body>
</html>